{% extends 'base.html' %}
{% block title %} Crear Post {% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <h1>Crear un Post</h1>

            <div class="form-group"></div>
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{form.as_p}}
                <button class="btn btn-dark">Post</button>
            </form>
            </div>
        {% else %}
             Usted no puede realizar esta acción porque no es parte del staff.
        {% endif %}
    {% endif %}

{% endblock %}